.header {
  display: flex;
  height: 100px;
  
 &__logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    height: 50px;
    padding-right: 20px;
    }
 &__icon {
  padding-top: 30px;
  padding-left: 20px;
  color:black;

   } 
}