.footer {
  background: #333;
  color: white;
  padding: 20px;
  line-height: normal;
}

.footer__logo {
  font-family: "shrikhand";
  padding-bottom: 20px;
  font-size: 30px;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
}

.communication__icon {
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer p {
  padding-bottom: 30p
  }