body, html {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  height: 50px;
}

.header__icon {
  padding-top: 30px;
  padding-left: 10px;
  color: black;
}

.main {
  margin: 0 auto;
  padding-bottom: 100px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.restaurant__image > img {
  max-height: 500px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 1500px;
  padding-bottom: 100px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  z-index: 1;
  margin-top: -100px;
}

.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97%;
}

.container__title {
  padding-top: 10px;
  padding-left: 40px;
  font-family: "shrikhand";
  font-style: italic;
  font-weight: bold;
  font-size: 18px
}

.container__icon {
  color: black;
  cursor: pointer;   
}   
.container__icon:hover {
  animation: fill 0.8s ease-in-out;
  display: inline-block;
  opacity: 1;
  background:linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background:-webkit-linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.list__container__title {
  max-width: 55px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 6px;
  border-bottom: 4px solid #a1e7cf;
  font-size: 20px;
}

.list {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 450px;
  border: 1px solid #f2f2f2;
  margin: 10px 0;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: staggeredList 0.6s linear;
          animation: staggeredList 0.6s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
}

@-webkit-keyframes staggeredList {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes staggeredList {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 50%;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.step1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.step2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.step3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.step4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.step5 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.step6 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.step7 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.step8 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.step9 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.list__number {
  flex:1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 15px;
  width: 150px;
}

.list__number > h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  
}

.list__number > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }

.list__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;  
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 15px;
}

.list__selection {
  background-color: #99e2d0;
  margin: -16px -80px -16px 16px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.list:hover .list__selection {
  margin-right: -10px;
}

.list__icon {
  height: 25px;
  width: 25px;
  color: #99e2d0;
  background-color: white;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.list:hover .list__icon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: auto;
  width: 250px;
  max-width: 100%;
  border: 2px solid #c765c7;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.button:hover {
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.footer {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__logo {
  font-family: "shrikhand";
  font-size: 30px;
  padding-top: 35px;
  padding-left: 35px;
  
}

.communication {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 35px;
  line-height: 0;
 }

.communication__list > a {
 color: inherit;
 text-decoration: none;
 display: flex;
}

.communication__list:hover > a {
text-decoration: underline;
}
.communication__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;      
}

.communication__icon {
  margin-right: 10px;
  padding-top: 16px;
}

@media screen and (max-width: 1440px)  {
  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .menu {
    width: 100%;
  }
  .list__container {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .list {
    width: 100%;
  }

  }

@media screen and (max-width: 500px) and (min-width: 320px) {
  .header__logo {
    width: 250px;
  }
  .container__title {
    font-size: 13px;
    padding-left: 10px;
    height: 48px;
  }
  .container__icon {
    margin: 25px;
    margin-right: 0;
  }
  .container {
    max-width: 100%;
  }
  .menu {
    width: 100%;

  }
  .list__container {
    width: 100%;
       
  }

  .list {
    width: 100%;
    
  }
  
  }
/*# sourceMappingURL=A-la-francaise.css.map */